<div style="margin: 10% 0 0 30%">
   <p> all infos are below</p>
   <br>
   <div>
      <!-- each id  -->
      {{# each items}}
         <a  href="/show-each/{{ this._id}}"  > 
            <span> {{this.name}}</span> <span style="margin-left:10px"> {{this.age}} </span> 
         </a>  
         <span> <a href="/deleteone/{{this._id}}" style="margin-left:10px"> Delete</a></span>
         <span> <a  style="margin-left:10px" href="/show-update-page/{{this._id}}/{{this.name}}/{{this.age}}"> Edit</a>
         </span>
         
         <br> <br>
      {{/each}}
   </div>
   <div style="margin-top:20px">
     <form action="/delete" method="post">  
          <button type="submit"> Delete all </button>
     </form>
     <br>
     <a href="/"> Go to home</a>
   </div>
</div>